Repository bakdata/pytest-testcontainers-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff-lint, ruff-format, pyright

uv-lock-check:
  name: uv-lock-check
  description: validate UV config and dependency lock file
  entry: uv lock --check
  language: system
  pass_filenames: false

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: uv run --frozen ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  require_serial: true

Bump version 0.0.1 → 0.1.0
  .bumpversion.toml
  changelog.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

Create a testing CI-Step to identificate signature errors
  .github/workflows/ci.yaml
Due: none

Change signature to check if CI-Step passes
  src/pytest_testcontainers_compose/plugin.py
Due: ruff-lint, ruff-format, pyright

Test one more time
  .github/workflows/ci.yaml
  src/pytest_testcontainers_compose/plugin.py
Due: ruff-lint, ruff-format, pyright

Change the CI-Step to the previous stand
  .github/workflows/ci.yaml
Due: none

Fix back the signature
  src/pytest_testcontainers_compose/plugin.py
Due: ruff-lint, ruff-format, pyright

Remove upper contraints by dependencies
  pyproject.toml
Due: uv-lock-check

Update uv.lock
  uv.lock
Due: uv-lock-check

Add back the upper constraints for uv_build
  pyproject.toml
Due: uv-lock-check

refactor: remove upper contraints (#2)
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: container scope signature (#1)
  .github/workflows/ci.yaml
  src/pytest_testcontainers_compose/plugin.py
Due: ruff-lint, ruff-format, pyright

Bump version 0.1.0 → 0.1.1
  .bumpversion.toml
  changelog.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

Path conditions:
  uv-lock-check: any of: ^(.*/)?(pyproject\.toml|uv\.lock)$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
